<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TechBlog</title>
    <link rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/"/>"
     <link rel="stylesheet" hrs="/Public/style.css"/>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TechBlog</a>
  </header>

  <body>

{{#if isAuthenticated}}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
{{else}}
    <nav>
        <ul>
            <li><a href="/login">Home</a></li>
        </ul>
    </nav>
{{/if}}

{{{body}}}


</body>
</html>