<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <!-- Include your CSS files -->
</head>
<body>
  {{{body}}}
  <!-- Include your JS files -->
</body>
</html>
